<% include header %>




<header class="contactheader">
    <h1>Contact Here</h1> 
    <a href="https://github.com/Sambireddych/" target="_blank"><img src="/images/github.png" alt="github" width="35" height="42" border="0" id="contact-img"></a>
    <a href="https://bitbucket.org/Sambireddych/" target="_blank"><img src="/images/bigbucket.png" alt="bitbucket" width="35" height="42" border="0" id="contact-img"></a>
     <a href="https://www.linkedin.com/in/sambireddy-chanimella-4b980254" target="_blank"><img src="/images/link.png" alt="linkedin" width="35" height="42" border="0" id="contact-img"></a>
<p>If you have any queries, please submit in this form</p>

</header>

<!--Bootstrap style sheet-->

<form method="get" >
 
  <div class="form-group">  
     
  Full Name: <input type="text" name="name" id="name" class="form-control" placeholder="Full Name" /> 
  </div>
  
   

    <div class="form-group">  
         
      Email: <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Email" /> 
      </div>  
      
   <div class="form-group">  
 
   Type Question: <input type="text" name="question" id="quesion" class="form-control"  placeholder="Question"/> 
   </div>  
 
   

    <div class="form-group">
  Message: 
      <textarea rows="5" cols="30" id="Message" name="Message" placeholder="Message" class="form-control" style="width:100%"></textarea>
    
    </div>
 
    <div class="form-group">  
    
          <button type="submit" class="btn btn-default">Submit</button>&nbsp;&nbsp;&nbsp;
      
    </div>  
    
  
      


  
</form>

</body>




<% include footer %>
