<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title> 04-Sambi Reddy </title>
    <link rel="stylesheet" href="/css/indexcss.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
</head> 

<body>
    <div id="wrapper">

        <article>
            <header>
                <nav>
                    <div class="mobileNav">
                        <div class="Logo"><a href="/index">Sambi Reddy Chanimella</a></div>
                        <img class="menu pull-right" src="menu.png" alt="menu icon" onclick="toggleMenu()" />
                    </div>
                    <ul class="navMobileList">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/details">Calculator</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li class="pull-right"><a href="/index">Sambi Reddy Chanimella</a></li>
                    </ul>
                </nav>
            </header>